# Arquivos de build
*.obj
*.bin
*.cshtml.cs

# Arquivos de configuração
appsettings.json
web.config

# Arquivos de cache
*.pidb
*.pidb.lock
*.log

# Arquivos de temporários
*.tmp
*.tmp.*

# Arquivos de depuração
*.pdb
*.ipdb
*.ilk
*.sym

# Arquivos de publicação
*.publishsettings
*.publish.xml

# Arquivos de teste
**/bin/test/
**/obj/test/

# Arquivos de terceiros
**/node_modules/
**/bower_components/
**/vendor/