@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Empréstimos Online</h2>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/read_book_study_icon-icons.com_51077.png" class="img-fluid" width="230" height="130" />
    </div>
</div>
